NUXT_PUBLIC_APP_NAME=Ibble
NUXT_PUBLIC_APP_URL=https://ibbil.com

NUXT_PUBLIC_API_BASE_URL=https://api-marketplace.ibbil.com/api
NUXT_PUBLIC_AUTH_BASE_URL=https://auth.ibbil.com
NUXT_PUBLIC_WEB_API_BASE_URL=https://api-web.ibbil.com/api
NUXT_PUBLIC_INSURANCE_API_BASE_URL=https://api-insurance.ibbil.com/
NUXT_PUBLIC_VETERINARY_API_BASE_URL=https://api-veterinary.ibbil.com/api
NUXT_PUBLIC_TRANSPORTATION_API_BASE_URL=https://api-transportation.ibbil.com/api

NUXT_PUBLIC_WHATSAPP_NUMBER=966500000000
NUXT_PUBLIC_HYPERPAY_WIDGET_BASE_URL=https://oppwa.com/v1/paymentWidgets.js
NUXT_PUBLIC_GOOGLE_MAPS_API_KEY=
